*{
    margin: 0;
    padding: 0;
}
.background1{
    height: 500px;
    background-image: url("https://www.cryptoground.com/storage/images/posts/1534941300-bank.jpg");
    background-position: center;
    background-size: cover;
}
.col-md-3 img{
        height: 350px;
        margin-bottom: 20px;
}
.col-md-3:hover{
            transform: translateY(-20px);
}
.container{
    margin-top: 50px;
}